Connected Services/DailyDeliAPI/Service_DailyDeli2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DailyDeli_Service" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DailyDeli_Service" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:55063/Service_DailyDeli.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element minOccurs="0" name="Comments" nillable="true" type="tns:ArrayOfComment" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="PhoneNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PromoCodes" nillable="true" type="tns:ArrayOfPromoCode" />
      <xs:element minOccurs="0" name="Recipes" nillable="true" type="tns:ArrayOfRecipe" />
      <xs:element minOccurs="0" name="Transactions" nillable="true" type="tns:ArrayOfTransaction" />
      <xs:element minOccurs="0" name="UserCarts" nillable="true" type="tns:ArrayOfUserCart" />
      <xs:element minOccurs="0" name="addressLine1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="city" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dateJoined" type="xs:dateTime" />
      <xs:element minOccurs="0" name="dietType" type="xs:int" />
      <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="isActive" type="xs:boolean" />
      <xs:element minOccurs="0" name="loyaltyPoints" type="xs:int" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="postalCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="surname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="userType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="ArrayOfComment">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Comment" nillable="true" type="tns:Comment" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfComment" nillable="true" type="tns:ArrayOfComment" />
  <xs:complexType name="Comment">
    <xs:sequence>
      <xs:element minOccurs="0" name="Comment1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="NumLikes" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Product" nillable="true" type="tns:Product" />
      <xs:element minOccurs="0" name="Product_Id" type="xs:int" />
      <xs:element minOccurs="0" name="Reply" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="User" nillable="true" type="tns:User" />
      <xs:element minOccurs="0" name="User_Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Comment" nillable="true" type="tns:Comment" />
  <xs:complexType name="Product">
    <xs:sequence>
      <xs:element minOccurs="0" name="Category" nillable="true" type="tns:Category" />
      <xs:element minOccurs="0" name="Comments" nillable="true" type="tns:ArrayOfComment" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="ProductDietCompatibilities" nillable="true" type="tns:ArrayOfProductDietCompatibility" />
      <xs:element minOccurs="0" name="ProductNutrition" nillable="true" type="tns:ProductNutrition" />
      <xs:element minOccurs="0" name="RecipeIngredients" nillable="true" type="tns:ArrayOfRecipeIngredient" />
      <xs:element minOccurs="0" name="categoryId" type="xs:int" />
      <xs:element minOccurs="0" name="createdAt" type="xs:dateTime" />
      <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="imageURL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="isActive" type="xs:boolean" />
      <xs:element minOccurs="0" name="isCommon" type="xs:boolean" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="price" type="xs:decimal" />
      <xs:element minOccurs="0" name="stockQuantity" type="xs:int" />
      <xs:element minOccurs="0" name="unit" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Product" nillable="true" type="tns:Product" />
  <xs:complexType name="Category">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Products" nillable="true" type="tns:ArrayOfProduct" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Category" nillable="true" type="tns:Category" />
  <xs:complexType name="ArrayOfProduct">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Product" nillable="true" type="tns:Product" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProduct" nillable="true" type="tns:ArrayOfProduct" />
  <xs:complexType name="ArrayOfProductDietCompatibility">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProductDietCompatibility" nillable="true" type="tns:ProductDietCompatibility" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProductDietCompatibility" nillable="true" type="tns:ArrayOfProductDietCompatibility" />
  <xs:complexType name="ProductDietCompatibility">
    <xs:sequence>
      <xs:element minOccurs="0" name="DietType" nillable="true" type="tns:DietType" />
      <xs:element minOccurs="0" name="DietTypeId" type="xs:int" />
      <xs:element minOccurs="0" name="Product" nillable="true" type="tns:Product" />
      <xs:element minOccurs="0" name="ProductId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductDietCompatibility" nillable="true" type="tns:ProductDietCompatibility" />
  <xs:complexType name="DietType">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="ProductDietCompatibilities" nillable="true" type="tns:ArrayOfProductDietCompatibility" />
      <xs:element minOccurs="0" name="Recipes" nillable="true" type="tns:ArrayOfRecipe" />
      <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DietType" nillable="true" type="tns:DietType" />
  <xs:complexType name="ArrayOfRecipe">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Recipe" nillable="true" type="tns:Recipe" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRecipe" nillable="true" type="tns:ArrayOfRecipe" />
  <xs:complexType name="Recipe">
    <xs:sequence>
      <xs:element minOccurs="0" name="DietType" nillable="true" type="tns:DietType" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="RecipeIngredients" nillable="true" type="tns:ArrayOfRecipeIngredient" />
      <xs:element minOccurs="0" name="User" nillable="true" type="tns:User" />
      <xs:element minOccurs="0" name="cookTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="createdAt" type="xs:dateTime" />
      <xs:element minOccurs="0" name="createdBy" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dietTypeID" type="xs:int" />
      <xs:element minOccurs="0" name="difficulty" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="imageURL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="instructions" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="updatedAt" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Recipe" nillable="true" type="tns:Recipe" />
  <xs:complexType name="ArrayOfRecipeIngredient">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RecipeIngredient" nillable="true" type="tns:RecipeIngredient" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRecipeIngredient" nillable="true" type="tns:ArrayOfRecipeIngredient" />
  <xs:complexType name="RecipeIngredient">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Product" nillable="true" type="tns:Product" />
      <xs:element minOccurs="0" name="Recipe" nillable="true" type="tns:Recipe" />
      <xs:element minOccurs="0" name="ingredientID" type="xs:int" />
      <xs:element minOccurs="0" name="ingredientName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="recipeID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RecipeIngredient" nillable="true" type="tns:RecipeIngredient" />
  <xs:complexType name="ProductNutrition">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Product" nillable="true" type="tns:Product" />
      <xs:element minOccurs="0" name="calories" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="carbs" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="fat" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="protein" nillable="true" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductNutrition" nillable="true" type="tns:ProductNutrition" />
  <xs:complexType name="ArrayOfPromoCode">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PromoCode" nillable="true" type="tns:PromoCode" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPromoCode" nillable="true" type="tns:ArrayOfPromoCode" />
  <xs:complexType name="PromoCode">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="User" nillable="true" type="tns:User" />
      <xs:element minOccurs="0" name="Value" type="xs:decimal" />
      <xs:element minOccurs="0" name="user_id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PromoCode" nillable="true" type="tns:PromoCode" />
  <xs:complexType name="ArrayOfTransaction">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Transaction" nillable="true" type="tns:Transaction" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTransaction" nillable="true" type="tns:ArrayOfTransaction" />
  <xs:complexType name="Transaction">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="InvoiceNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ItemsJson" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PaymentMethod" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShippingFee" type="xs:decimal" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TaxAmount" type="xs:decimal" />
      <xs:element minOccurs="0" name="TotalAmount" type="xs:decimal" />
      <xs:element minOccurs="0" name="TransactionDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="User" nillable="true" type="tns:User" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Transaction" nillable="true" type="tns:Transaction" />
  <xs:complexType name="ArrayOfUserCart">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserCart" nillable="true" type="tns:UserCart" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserCart" nillable="true" type="tns:ArrayOfUserCart" />
  <xs:complexType name="UserCart">
    <xs:sequence>
      <xs:element minOccurs="0" name="CartJson" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="User" nillable="true" type="tns:User" />
      <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserCart" nillable="true" type="tns:UserCart" />
  <xs:complexType name="UserDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="AddressLine1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DateJoined" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DietType" type="xs:int" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
      <xs:element minOccurs="0" name="LoyaltyPoints" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhoneNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PostalCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Surname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserDTO" nillable="true" type="tns:UserDTO" />
  <xs:complexType name="ArrayOfProductDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProductDTO" nillable="true" type="tns:ProductDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProductDTO" nillable="true" type="tns:ArrayOfProductDTO" />
  <xs:complexType name="ProductDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Calories" type="xs:int" />
      <xs:element minOccurs="0" name="Carbs" type="xs:decimal" />
      <xs:element minOccurs="0" name="CategoryId" type="xs:int" />
      <xs:element minOccurs="0" name="CategoryName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreatedAt" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fat" type="xs:decimal" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="ImageURL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsCommon" type="xs:boolean" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" type="xs:decimal" />
      <xs:element minOccurs="0" name="Protein" type="xs:decimal" />
      <xs:element minOccurs="0" name="StockQuantity" type="xs:int" />
      <xs:element minOccurs="0" name="Unit" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductDTO" nillable="true" type="tns:ProductDTO" />
  <xs:complexType name="ArrayOfRecipeDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RecipeDTO" nillable="true" type="tns:RecipeDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRecipeDTO" nillable="true" type="tns:ArrayOfRecipeDTO" />
  <xs:complexType name="RecipeDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="CookTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreatedAt" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CreatedBy" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DietTypeID" type="xs:int" />
      <xs:element minOccurs="0" name="Difficulty" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="ImageURL" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="IngredientIds" nillable="true" type="q1:ArrayOfint" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Ingredients" nillable="true" type="q2:ArrayOfstring" />
      <xs:element minOccurs="0" name="Instructions" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UpdatedAt" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RecipeDTO" nillable="true" type="tns:RecipeDTO" />
  <xs:complexType name="ArrayOfCommentDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CommentDTO" nillable="true" type="tns:CommentDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCommentDTO" nillable="true" type="tns:ArrayOfCommentDTO" />
  <xs:complexType name="CommentDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Comment" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Likes" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ProductId" type="xs:int" />
      <xs:element minOccurs="0" name="Reply" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CommentDTO" nillable="true" type="tns:CommentDTO" />
  <xs:complexType name="ArrayOfTransactionDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TransactionDTO" nillable="true" type="tns:TransactionDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTransactionDTO" nillable="true" type="tns:ArrayOfTransactionDTO" />
  <xs:complexType name="TransactionDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="InvoiceNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ItemsJson" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PaymentMethod" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShippingFee" type="xs:decimal" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TaxAmount" type="xs:decimal" />
      <xs:element minOccurs="0" name="TotalAmount" type="xs:decimal" />
      <xs:element minOccurs="0" name="TransactionDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TransactionDTO" nillable="true" type="tns:TransactionDTO" />
  <xs:complexType name="PromoCodeDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
      <xs:element minOccurs="0" name="Value" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PromoCodeDTO" nillable="true" type="tns:PromoCodeDTO" />
  <xs:complexType name="ArrayOfPromoCodeDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PromoCodeDTO" nillable="true" type="tns:PromoCodeDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPromoCodeDTO" nillable="true" type="tns:ArrayOfPromoCodeDTO" />
</xs:schema>